<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0ZBWWYY3GW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-0ZBWWYY3GW');
  </script>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Rent beautiful party decor items for your event. Perfect for individuals and party planners. We also offer event management services to make your day memorable.">
  <meta name="keywords" content="party decor rental, event management, party rentals, wedding decor, birthday party decor, event planning">
  <title>Party Theme | Party Decor Rentals & Event Management Services</title>
  <meta name="theme-color" content="black">

  <link rel="icon" type="image/png" href="images/logo_result.webp">

  <script src="_js/slim.min.js"></script>
  <link rel="stylesheet" href="_css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <script src="_js/axios.min.js"></script>
  <script src="_js/vue.js"></script>
  <script src="_js/static-data.js"></script>

  <link rel="stylesheet" href="_css/test.css" />
  <link rel="stylesheet" href="_css/header.css" />
  <link rel="stylesheet" href="_css/footer.css" />
  <link rel="stylesheet" href="_css/index.css" />
  <link rel="stylesheet" href="_css/hero.css" />
  <link rel="stylesheet" href="_css/product.css" />
  <link rel="stylesheet" href="_css/about.css" />
  <link rel="stylesheet" href="_css/stripe-information.css" />
  <link rel="stylesheet" href="_css/parallax.css" />
  <link rel="stylesheet" href="_css/testimonial.css" />
  <link rel="stylesheet" href="_css/explore-options.css" />
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
    <a id="logo-area" class="navbar-brand" href="index.html">
      <img id="logo" src="images/logo_result.webp" width="30" height="30" alt="Party Theme Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shop.html">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="packages.html">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="quotation.html">Quotation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cloudinary-structure.html">Cloudinary Folder Structure</a>
        </li>
      </ul>
      <form class="form-inline justify-content-end">
        <input id="search-bar" class="form-control custom-width" type="search" placeholder="Search"
          aria-label="Search" />
      </form>
    </div>
  </nav>

  <div id="seasonal-effects"></div>

  <div id="app">

    <!-- Hero Section -->
    <section class="hero-section text-center hero-section">
      <div class="container"></div>
    </section>

    <br><br><br><br><br><br>

    <section id="explore-options" class="container my-5">
      <div class="row">
        <!-- Event Packages Card -->
        <div class="col-md-6">
          <div class="card">
            <img src="./images/image-decor.jpg" class="service-card-img-top" alt="Event Packages">
            <div class="card-body text-center">
              <h5 class="card-title">Event Decor Packages</h5>
              <p class="card-text">Choose from a variety of tailored packages to make your event planning easy and memorable.</p>
              <a href="packages.html" class="btn btn-primary">View Event Packages</a>
            </div>
          </div>
        </div>

        <!-- Decor Rentals Card -->
        <div class="col-md-6">
          <div class="card">
            <img src="./images/image-rentals.webp" class="service-card-img-top" alt="Decor Rentals">
            <div class="card-body text-center">
              <h5 class="card-title">Decor Rentals</h5>
              <p class="card-text">Browse our collection of party decor items available for rent, perfect for any occasion.</p>
              <a href="shop.html" class="btn btn-primary">View Products</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br><br><br><br><br><br><br>

    <section class="stripe-information-section py-5 text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h2 class="mb-4" style="font-weight: 900; font-size: 2.5rem">
              Transform Your Event with Our Products
            </h2>
            <p class="lead" style="font-size: 1.2rem; line-height: 1.6rem">
              Whether you're planning a wedding, birthday, corporate event, or any special occasion, our wide range of
              party decor rentals will bring your vision to life. Browse our collection to find everything from elegant
              centerpieces to vibrant themes, tailored to make your event unforgettable.
            </p>
            <a href="#" class="btn btn-light btn-lg mt-4" style="font-weight: 700">Explore Our Products</a>
          </div>
        </div>
      </div>
    </section>

    <br><br>

    <section class="stripe-information-section py-5 text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h2 class="mb-4" style="font-weight: 900; font-size: 2.5rem">
              Discover the Magic
            </h2>
            <p class="lead" style="font-size: 1.2rem; line-height: 1.6rem">
              Transform every celebration into a captivating experience with
              Party Theme's exquisite decor.
            </p>
            <a href="#" class="btn btn-light btn-lg mt-4" style="font-weight: 700">Explore Our Story</a>
          </div>
        </div>
      </div>
    </section>

    <br><br><br><br><br>

    <section class="testimonial-section">
      <div class="testimonial-area">
        <h2>Kind Words From Clients</h2>
        <div class="stars">
          <span v-for="star in SELECTED_TESTIMONIALS.rating">&#9733;</span>
        </div>
        <p class="testimonial-text">
          "{{ SELECTED_TESTIMONIALS.testimonial }}"
        </p>
        <p class="client-name">- {{ SELECTED_TESTIMONIALS.name }}</p>
        <div class="arrow-area">
          <div class="arrow" @click="navigate_testimonial('P', SELECTED_TESTIMONIALS.id)"
            v-if="SELECTED_TESTIMONIALS.id != 1">
            &#8592;
          </div>
          <div class="arrow" @click="navigate_testimonial('N', SELECTED_TESTIMONIALS.id)"
            v-if="SELECTED_TESTIMONIALS.id != 5">
            &#8594;
          </div>
        </div>
      </div>
    </section>

    <br><br><br><br><br>

    <div class="parallax">
      <div class="container content">
        <h1 class="parallax-head-text">LET'S WORK TOGETHER</h1>
        <p class="parallax-sub-text">Ready For A Website Worth Celebrating?</p>
        <div class="parallax-button">
          <p class="parallax-button-text">Inquire Now</p>
        </div>
      </div>
    </div>

    <br>

    <section class="promotion-section py-5 text-center" style="background-color: #f8f9fa">
      <div class="container">
        <h2 class="mb-4">{{ offer_title }}</h2>

        <div v-if="fetchedData.length" class="row">
          <div v-for="(product, index) in fetchedData" :key="product.asset_id" class="col-md-4">
            <div class="card border-0 shadow" id="productCard">
              <img :src="product.url" class="card-img-top" alt="Offer 1" />
              <div class="card-body">
                <h5 class="card-title" v-if="product.metadata">{{ product.metadata.name }}</h5>
                <h5 class="card-title" v-else>no</h5>
                <p class="card-text" v-if="product.metadata">
                  {{ product.metadata.description.substring(0, 40) }}{{ product.metadata.description.length > 40 ? '...' : '' }}
                </p>
                <p class="card-text" v-else>On selected party decor items.</p>
                <div class="product-view-button-area">
                  <button class="product-view-button" @click="GoTo('PRODUCT', product.asset_id)"><i
                      class="fa-solid fa-eye" id="product-view-button-icon"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <br>

    <div class="about-section">
      <h2>MAKE YOUR PARTIES POP!</h2>
      <h1>ABOUT CHASING DREAMS EVENTS</h1>
      <div class="underline"></div>
      <p>
        Chasing Dreams is a balloon decor specialist based in Ardsley, New
        York (Westchester County). We use high-quality, 100% biodegradable,
        natural latex balloons to construct beautiful garlands. Whether you
        are looking for full decor for your next big event or a garland you
        can hang yourself for your child's birthday, we are here to fulfill
        all of your balloon needs.
      </p>
    </div>

    <br><br><br>

  </div>

  <script src="_js/seasonal.js"></script>
  <script src="_js/cloudinary.js"></script>
  <script src="_js/index.js"></script>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-columns">
      <div class="footer-column footer-logo">
        <img src="images/logo_result.webp" alt="Company Logo" />
        <p>
          We provide luxury balloon decor for birthdays, bridal and baby
          showers, gender reveals, corporate events, and more. Serving
          Westchester County and surrounding areas.
        </p>
      </div>
      <div class="footer-column footer-center">
        <h4>Navigate</h4>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Services</li>
          <li>Size Guide</li>
          <li>FAQ</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Contact</h4>
        <div class="contact-info">
          <i class="fa fa-envelope"></i>
          <a href="mailto:email@example.com" class="footer-link">Email Us</a>
        </div>
        <div class="contact-info">
          <i class="fa fa-phone"></i>
          <a href="tel:+1234567890" class="footer-link">Call or Text Me</a>
        </div>
        <div class="contact-info">
          <i class="fa fa-map-marker"></i> 658/1A Havelock Rd, Colombo 00600
        </div>
        <br>
        <a href="#top" class="to-top-btn">To Top</a>
      </div>
    </div>
    <div class="footer-bottom">
      <a href="#">Privacy Policy</a> &amp;
      <a href="#">Terms of Use</a>
      <br />
      Site by Party Theme
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
