<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0ZBWWYY3GW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-0ZBWWYY3GW');
  </script>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Rent beautiful party decor items for your event. Perfect for individuals and party planners. We also offer event management services to make your day memorable.">
  <meta name="keywords" content="party decor rental, event management, party rentals, wedding decor, birthday party decor, event planning">
  <title>Party Theme | Party Decor Rentals & Event Management Services</title>
  <meta name="theme-color" content="black">

  <link rel="icon" type="image/png" href="images/logo_result.webp">

  <script src="_js/slim.min.js"></script>
  <link rel="stylesheet" href="_css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <script src="_js/axios.min.js"></script>
  <script src="_js/vue.js"></script>
  <script src="_js/static-data.js"></script>

  <link rel="stylesheet" href="_css/test.css" />
  <link rel="stylesheet" href="_css/header.css" />
  <link rel="stylesheet" href="_css/footer.css" />
  <link rel="stylesheet" href="_css/index.css" />
  <link rel="stylesheet" href="_css/package.css" />
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
    <a id="logo-area" class="navbar-brand" href="index.html">
      <img id="logo" src="images/logo_result.webp" width="30" height="30" alt="Party Theme Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shop.html">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="packages.html">Packages</a>
        </li>
        <li class="nav-item"></li>
          <a class="nav-link" href="quotation.html">Quotation</a>
        </li>
      </ul>
      <form class="form-inline justify-content-end">
        <input id="search-bar" class="form-control custom-width" type="search" placeholder="Search"
          aria-label="Search" />
      </form>
    </div>
  </nav>

  <div id="package-section">
    <div class="container text-white" v-for="package in PACKAGES">
      <br><br>
      <div class="premium-title">{{ package.packageName }}</div>

      <div class="row">
        <div class="col-lg-7 order-lg-1 order-2">
          <ul class="product-details list-unstyled">
            <li><strong>Design:</strong> Features a vibrant, enchanted garden scene with flowers, butterflies,
              and fairy lights</li>
            <li><strong>Material:</strong> {{ package.material }}</li>
            <li><strong>Dimensions:</strong> 7 feet by 5 feet</li>
            <li><strong>Available AddOns:</strong> </li>
            <li style="margin-left: 20px; margin-bottom: 2px" v-for="addOn in package.availableAddOns">{{ addOn }}</li>
          </ul>
          <p>{{ package.description }}</p>
        </div>
        <div class="offset-lg-1 col-lg-4 order-lg-2 order-1 position-relative">
          <div class="balloon-arch">
            <img id="package-image" :src="package.imageUrl" alt="Balloon Arch">
          </div>
        </div>
      </div>
      <div class="product-price">LKR {{ package.amount }}.00</div>
      <br>
    </div>
  </div>

  <script src="_js/cloudinary.js"></script>
  <script src="_js/package.js"></script>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-columns">
      <div class="footer-column footer-logo">
        <img src="images/logo_result.webp" alt="Company Logo" />
        <p>
          We provide luxury balloon decor for birthdays, bridal and baby
          showers, gender reveals, corporate events, and more. Serving
          Westchester County and surrounding areas.
        </p>
      </div>
      <div class="footer-column footer-center">
        <h4>Navigate</h4>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Services</li>
          <li>Size Guide</li>
          <li>FAQ</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Contact</h4>
        <div class="contact-info">
          <i class="fa fa-envelope"></i>
          <a href="mailto:email@example.com" class="footer-link">Email Us</a>
        </div>
        <div class="contact-info">
          <i class="fa fa-phone"></i>
          <a href="tel:+1234567890" class="footer-link">Call or Text Me</a>
        </div>
        <div class="contact-info">
          <i class="fa fa-map-marker"></i> 658/1A Havelock Rd, Colombo 00600
        </div>
        <br>
        <a href="#top" class="to-top-btn">To Top</a>
      </div>
    </div>
    <div class="footer-bottom">
      <a href="#">Privacy Policy</a> &amp;
      <a href="#">Terms of Use</a>
      <br />
      Site by Party Theme
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
