body {
  height: 100%;

  background-color: white;
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: Montserrat, sans-serif;
}

.custom-navbar {
  /* height: 80px;  */
  /* display: flex; */
  /* align-items: center; */
}

.navbar-toggler {
  margin: 1rem;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none; /* Optional: Remove any box-shadow if applied */
}

.custom-navbar .navbar-brand img {
  height: 50px; /* Adjust the logo size if needed */
  width: auto;
}

.custom-navbar .navbar-nav .nav-link {
  /* padding-top: 30px;  */
  /* padding-bottom: 30px; */
  padding-left: 1.6rem;
}

.custom-navbar .form-inline {
  flex-grow: 1; /* Ensure the search bar stays within the navbar and looks good on different screen sizes */
}

.custom-navbar .form-control {
  width: "98%" !important;
}

.navbar-nav .nav-link {
  color: #f867ca; /* Change this hex code to your preferred color */
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #f867ca; /* Darker shade for hover effect */
  font-weight: 600;
}

.navbar-nav .nav-item.active .nav-link {
  color: #f867ca; /* Color for the active link */
}

#logo-area {
  /* margin-top: 70px; */
  margin-left: 20px;
}

#logo {
  width: 60px;
  height: 60px;
}

/* .custom-width {
  width: 90vw;
} */

.custom-width {
  width: 600px;
}

#search-bar {
  height: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  width: "100%";
  border-radius: .7rem;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  border: none;
  border-color: rgb(233, 233, 233);
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.07);
}

form.form-inline {
  display: flex;
  /* justify-content: flex-end; */
}

@media (max-width: 1300px) {
    .custom-width {
      width: 500px;
    }
  }


  @media (max-width: 1200px) {
    .custom-width {
      width: 350px;
    }
  }

  @media (max-width: 1100px) {
    .custom-width {
      width: 250px;
    }
  }

@media (max-width: 992px) {
  .custom-width {
    width: 94vw;
  }

  #search-bar {
    height: 50px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 3vw;
    margin-right: 3vw;
    width: "100%";
    border-radius: .7rem;
    font-family: Helvetica, Arial, sans-serif;
    outline: none;
    border: none;
    border-color: rgb(233, 233, 233);

    -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.07);
  }
}

#search-bar:focus {
  border: none;
  outline: none; /* Remove the default outline */
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
}

.card-title {

}

#search-bar-product {
  background-color: "red";
  height: 50px;
  margin-bottom: 50px;
  width: 600px;
  max-width: 600px;
  outline: none;
  border: none;
  border-radius: .7rem;
  border-color: rgb(233, 233, 233);
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.07);
}

#search-bar-product:focus {
  border: none;
  outline: none; /* Remove the default outline */
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}

/*------------------------ folder names ------------------------*/

.folder-name-area{
  display: flex; /* Use Flexbox */
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;    /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;       /* Hide scrollbar in Firefox */
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 6px;
  padding-right: 6px;

}

.folder-name-area::-webkit-scrollbar {
  display: none;
}


.folder-name {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 40px;
  border-radius: 2rem;
  margin-right: .5rem;
  background-color: #e7e7e7;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: pointer;
  white-space: nowrap; /* Prevent line break */
  -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.03);
}

.folder-name-text {
  color: black;
  text-align: center; /* Just in case, for text alignment */
  margin-bottom: 0px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap; /* Prevent line break */
}


.folder-name:hover{
  background-color: #f867ca;

}
.folder-name:hover .folder-name-text {
  color: white; /* Change to the desired hover color */

}


.folder-name-active{
  background-color: #f867ca;
}

.folder-name-text-active{
  color: white;
}


/*------------------------ folder names ------------------------*/



.card-img-top{
  object-fit: cover;
  height: 22rem;
}

.scrolling-photo-slider {
  overflow: hidden;
  background-color: #fff;
}
.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.slider {
  display: flex;
  gap: 10px;
  animation: scroll 20s linear infinite;
}
.slider img {
  height: 200px; /* Adjust height as needed */
  width: auto;
  border-radius: 8px;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.about-section {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.about-section h1 {
  color: #00a3c7;
  font-size: 36px;
  margin-bottom: 10px;
}

.about-section h2 {
  color: #444;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.about-section p {
  font-size: 18px;
  line-height: 1.6;
}

.about-section .underline {
  width: 150px;
  height: 4px;
  background-color: #ff3399;
  margin: 10px auto;
}

#package-section {
  background-color: black;
}

.premium-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
}

.product-details {
  font-size: 1.2rem;
}

.product-price {
  height: 10rem;
  font-size: 4rem;
  font-weight: bold;
  text-align: start;
  margin-top: 50px;
}

.right {
  text-align: end;
}

.balloon-arch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

ul > li {
  margin-bottom: 0.6rem;
}
#package-image {
  width: 28rem;
}

.balloon-arch img {
  /* max-height: 100%; */
}

.footer {
  background-color: black;
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  /* position: fixed;
   left: 0;
   bottom: 0; */
}

.footer .footer-columns {
  display: flex;
  /* justify-content: space-between; */
  /* max-width: 1000px; */
  color: white;
  margin: 0 auto;
  padding: 20px;
}

.footer .footer-column {
  flex: 1;
  padding: 20px;
}

.footer .footer-column h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #dbdbdb;
  margin-bottom: 20px;
}

.footer .footer-column ul {
  list-style: none;
  padding: 0;
}

.footer .footer-column ul li {
  margin: 10px 0;
}

.footer .footer-column ul li a {
  text-decoration: none;
  color: #d2d2d2;
}

.footer .footer-column ul li a:hover {
  color: #ff3399;
}

.footer .footer-center img {
  width: 120px;
  margin-bottom: 10px;
}

.footer .footer-center p {
  font-size: 14px;
  color: #dcdcdc;
}

.footer .social-icons {
  margin-top: 20px;
}

.footer .social-icons a {
  margin: 0 10px;
  font-size: 20px;
  color: #c8c8c8;
  text-decoration: none;
}

.footer .social-icons a:hover {
  color: #ff3399;
}

.footer-bottom {
  padding-top: 20px;
  border-top: 1px solid #ffffff50;
  font-size: 14px;
  color: #999;
}

.footer-bottom a {
  color: #d9d9d9;
  text-decoration: none;
  margin-bottom: 10rem;
}

.footer-bottom a:hover {
  color: #ff3399;
}

.contact-info {
  margin: 10px 0;
}

.contact-info i {
  margin-right: 10px;
  color: #ff3399;
}

.to-top-btn {
  background-color: transparent;
  border: 2px solid #ff3399;
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 14px;
  color: #ff3399;
  text-decoration: none;
}

.to-top-btn:hover {
  background-color: #ff3399;
  color: white;
}

/* Responsive for mobile */
@media (max-width: 992px) {
  .footer .footer-columns {
    flex-direction: column;
    text-align: center;
  }

  .footer .footer-column {
    margin-bottom: 20px;
  }
  .contact-info {
    margin-bottom: 20px;
    text-decoration: none;
  }
}
