.navbar-toggler {
    border: none; /* Removes the border */
    outline: none; /* Removes the outline when focused */
}



.navbar-toggler-icon {
    display: inline-block;
    width: 30px; /* Adjust the width of the icon */
    height: 2px; /* Adjust the thickness of the lines */
    background-color: black; /* Change the color as needed */
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: black; /* Same color as the main line */
    position: absolute;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -8px; /* Adjust the spacing between lines */
}

.navbar-toggler-icon::after {
    top: 8px; /* Adjust the spacing between lines */
}
